[submodule "extern/googletest"]
	path = extern/googletest
	url = git@github.com:google/googletest.git
[submodule "extern/discreture"]
	path = extern/discreture
	url = git@github.com:mraggi/discreture.git
